/* This is my CSS File */



.intro1 {
  background-color:#222 ;
}

body{
  max-width: 1200px;
}

.firstbox { 
  background-color: #c78c06;
  margin: 15px;
  
 }

 li {
  list-style-type: none; 
 }

 .menu {
   text-align: center;
   color: black ;
 }

 .menucon {
  text-align: center;
  color: #c78c06 ;
}

.search {
  width: 100px;
}


.intro {
  background-image: url(Images/main-banner.jpg);
  height: 700px;
}

.container1 {
  justify-content: right;
  background-color: grey;
  opacity: 0.8;
  text-align: center;
  height: 400px;
  width: 940px;
}



.container1 {
 justify-content: center;
}


input {
  width: 1100px;
  padding: 6px;
  margin: 6px;
}

.container2 {
  padding: 6px;
  margin: 6px;
  background-color: #ffe6ac;
}

.grid-service1 {
  background-color: #ffe6ac;
  padding: 7px;
margin: 7px;
}

.grid-digbutton {
  display: grid;
  color: black;
  grid-template-columns: 130px;
  grid-template-rows:70px;
}

.grid-digbutton {
color: black;
}


.grid-service2 {
  background-color: #ffe6ac;
  padding: 7px;
margin: 7px;
}
.grid-marketbutton {
  display: grid;
  color: black;
  grid-template-columns: 130px;
  grid-template-rows:70px;
}

.grid-service3 {
  background-color: #ffe6ac;
  padding: 7px;
margin: 7px;
}
.grid-videobutton {
  display: grid;
  color: black;
  grid-template-columns: 130px;
  grid-template-rows:70px;
}

.grid-service4 {
  background-color: #ffe6ac;
}

.grid-webbutton {
  display: grid;
  color: black;
  grid-template-columns: 130px;
  grid-template-rows:70px;
}


.grid-service5 {
  background-color: #ffe6ac;
  padding: 7px;
margin: 7px;
}
.grid-printbutton {
  display: grid;
  color: black;
  grid-template-columns: 130px;
  grid-template-rows:70px;
}

.vision {
  background-image: url(Images/vision.jpg);
  height: 200px;
  color: white;
}

.vision-1 {
  display: flex;
  align-items: flex-end;
}

.vision-1 .block:nth-child(1) {
  display: flex;
  flex-direction: column;
  text-align: right;
  flex-flow: column;
}

.vision-1 .block:nth-child(3) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.containerteam {
  background-color: #ffe6ac;
}

th {
  background-color: #ffe6ac;
}

#message {
  height: 100px;
}

.submit {
  width: 20px;
  max-width: 20px;
}